body
{
	background-color: #000;
}

h1
{
	color: #fff;
	font-family: Arial;
}

video
{
	margin: 0 auto;
	width: 65%;
}

.menu
{
	padding: 9px;
	background: rgba(212,228,239,1);
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,79,145,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(18,79,145,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,79,145,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,79,145,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,79,145,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(18,79,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#124f91', GradientType=1 );
}

.menu a
{
	padding: 5px;
	font-size: 29px;
	color: #fff;
	padding: 23px;
	border-radius: 10px;
	text-decoration: none;
}

.menu a:hover
{
	background-color: #000;
}