*{

		margin: 0;
		padding: 0;
		color: #000000;

	}

	body{
		background-image: url(../img/fondo.jpg);
	}

	article p, ol, ul li{
		text-align: justify;
		font-size: 22px;
	}

	article
	{
		border-radius: 10px;
	}

	header, .main, footer{

		width: 90%;
		/*max-width: 1000px;*/
		margin: 20px auto;
		/*border: 3px red solid;*/
	}

	header nav{

		background-image: url(../img/menu.jpg);
		padding: 10px;
		clear: both;
		font-size: 10px;
		text-align: center;
		margin: 5px;
		border-radius: 50px;
	}

	header nav ul{
		list-style: none;
	}

	header nav ul li a{
		color: #000;
		padding: 5px;
		text-decoration: none;
		font-family: "Arial";
	}

	/* :hover es para que pase algo al poner el mouse*/
	header nav ul li a:hover{
		background: #000000;
		color: #ffffff;
		padding: 11px;
		
	}

	.active{
		padding: 11px;
	}

	header nav ul li{
		display: inline-block;
	}

	header div h1{
		color: #070DB2;
		font-size: 50px;
		padding-top: 50px;
		font-family: "Californian FB";
	}	

	.main .article{
		width: 60%;
		margin-right: 10px;
		float: left;
	}

	.main .article article{
	padding: 30px;
	background: #fff;
	margin: 10px 0px;
	font-family: "Californian FB";
	}

	.main .article article table tr td #negro
	{
		padding: 5px;
		border-radius: 10px;
		font-family: "Californian FB";
		font-size: 16px;
		font-weight: bold;
		background-color: #000000;
		color: #FFFFFF;
	}
	
	aside{
	background: #000000;
	width: 30%;
	padding: 20px;
	margin: 10px 0px;
	float: left;
	}

	footer{
	clear: both;
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 29%, rgba(74,70,74,1) 58%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(29%, rgba(89,89,89,1)), color-stop(58%, rgba(74,70,74,1)), color-stop(96%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 29%, rgba(74,70,74,1) 58%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 29%, rgba(74,70,74,1) 58%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 29%, rgba(74,70,74,1) 58%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 29%, rgba(74,70,74,1) 58%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000', GradientType=0 );
	padding: 10px 0px;
	text-align: center;
	font-size: 20px;
	font-family: cursive;
	}

	h1
	{
		text-align: center;
		margin: 5px;
	}

	table
	{
		text-align: center;
		margin: 10px;
	}

	table tr td input
	{
		border-radius: 80px;
		padding: 9px;
		text-align: center;
		font-size: 14px;
	}

	footer b
	{
		color: #ffffff;
	}

	.main .article article h1{
		color: #000;
		font-size: 26px;
	}

	.IMC{
		padding: 10px;
		border-image: 2px solid grey;
		border-radius: 900px;
		overflow: hidden;	
	}

	.Titulo{
		padding-top: 26px;
	}

	#Redes{

		background-image:url(../img/fondoAside.jpg);
	}

	.result
	{
		color: #F10000;
		text-align: center;
		font-family: "Arial";
		font-weight: bold;
		font-size: 15px;
	}